/* Set the background image */
.bgimg {
  position: relative;
  width: 100%;
}
.bgimg .background-image {
  background-image: url("../../assets/photos/pic1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Style the content on top of the overlay */
.content {
  position: absolute;
  align-items: center;
  width: 100%;
  color: #fff; /* Text color */
}
.content h2 {
  font-weight: 700 !important;
}
